<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" >
<listeners>

<listener class-name="testcases.Listeners"></listener>
</listeners>

  <test thread-count="5" name="Test1">
    <classes>
      <class name="testcases.RegisterTestCase01"/>
    </classes>
  </test>

<test thread-count="5" name="Test2">
    <classes>
      <class name="testcases.HomePageTestCase01"/>
    </classes>
  </test>

<test thread-count="5" name="Test3">
    <classes>
      <class name="testcases.ValidateTitleCase"/>
    </classes>
  </test>

 <!-- Test -->
</suite> <!-- Suite -->
